@model List<FavoriteRecipe>
@using NutriSuggest.Models

<h2>My Cookbook</h2>

<ul class="list-group">
    @foreach (var f in Model)
    {
        <li class="list-group-item">
            @f.RecipeTitle
        </li>
    }
</ul>
